<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block cabecalho %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %} - My Webpage</title>
    {% endblock %}
    
</head>
<body>
    <div id="content">{% block conteudo %}{% endblock %}</div>
    <div id="footer">
        {% block rodape %}
        &copy; Copyright 2021 by <a href="">Rafael</a>
        {% endblock %}
    </div>
</body>
</html>