<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulários</title>
    <style>
        body {
            background-color: lightgray;
            font-size: 1.2rem;
        }
        section{
            margin: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
    <section>
        <h2>Novo Cliente</h2>
        <form action="/criar" method="POST">
            <p>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
            </p>
            <input type="submit" value="INCLUIR">
            <button><a href="/" style='color:black;text-decoration: none;'>VOLTAR</a></button>
        </form>
    </section>
    
</body>
</html>