<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulários</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Clientes</h2>
    <p>Para incluir um novo Cliente <a href="/novo">Clique Aqui</a></p>
    <table>
        <tr>
            <th>Nome</th>
        </tr>
        {% for nome in nomes %}
        <tr>
            <td>{{nome}}</td>
            <td>{{nome}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>